# **Python Tutorial**

*Type*

In [ ]:

b = 3
print(b)
print(type(b))

b = "salam"

print(b)
print(type(b))

b = 3.2 
print(b)
print(type(b))
print(int(3.2))


b = str(65)
print(type(b))
print(1,"hello",3.2)

#Comment
a = -0x176
b = 3 + 4j

#Long Num eg

print(b)
print(type(b))
print(a)
print(type(a))

   #-4    -3     -2     -1
    #0     1      2      3
a = [2,"behrad",3+4j,"float"]
print(a[1]) #printing behrad
print(a[1:3])
print(a[2:])
print(a[:2])
print(a[-1])


tple = ('behrad',123,3.4)
print(tple[2])
lst = ['behrad',123,3.4]
#tple[2] = 100
lst[2] = 100
print(tple[2])
print(lst[2])
lst[2] = tple
print(lst)
lst1 = [0,1,"Salam",[53,245,135,35,[5,25,775,22]],(43,14)]
print (lst1[3][4][2])
d1 = {}
d2 = {}
d3 = {}
d4 = {}

d1 = d3 #city Tehran
d1 = d4 #City Sari
d['male'] = d1
d['female'] = d2
print(d['behrad']['ali'])

chr(97)
hex(64)
oct(64)
b = set()
b = {10,12,11}
b.add(4)
c = [6,8,"0"]

b.update(c)
print(b)

print(False,True)

3
<class 'int'>
salam
<class 'str'>
3.2
<class 'float'>
3
<class 'str'>
1 hello 3.2
(3+4j)
<class 'complex'>
-374
<class 'int'>
behrad
['behrad', (3+4j)]
[(3+4j), 'float']
[2, 'behrad']
float
3.4
3.4
100
['behrad', 123, ('behrad', 123, 3.4)]
775
norian
{4, 6, 8, 10, 11, 12, '0'}
False True

*Eq*

In [ ]:

a = 3 + (3*3**2)**2 / 4 

print("hello "*3 , end="")
print("Hello" + "World")

print(3==4)
print(3!=4)
print(3>=4)
print(3<=4)
print(3>4)
print(3<4)

#Check!
print(0.3 == (0.2+0.1))

a = 3
a *=2
print(a)

a = 60 #00111100
b = 13 #00001101
print(a&b)
print(a|b)
print(a^b)
print(~a)


c = [6,8,"0"]
print(7 in c)
print(6 in c)
print('behrad' not in c)

hello hello hello HelloWorld
False
True
False
True
False
True
False
6
12
61
49
-61
False
True
True

*If*

In [ ]:
a = 3
if (a==3):
  if((a%3)==0):
    print("%a over 3 == 0")
  a=2
  print("a eq 1")
elif (a==3):
  print("a eq 3")
else: 
  print("a neq 1,3")

%a over 3 == 0
a eq 1

*Input*

In [ ]:
a = int(input()) #a=5
print(type(a))
print(a==5)

a = input() #a=5
print(type(a))
print(a==5)

print("Hello\nBehrad")
a = input("Input a:\n")
print(a)


a = input("Input a:\t")
print(a)

5
<class 'int'>
True
5
<class 'str'>
False
Hello
Behrad
Input a:
7
7
Input a:	2
2

*For & While*

In [ ]:
for i in range(0,14,3): #defStep= 1
  print(i)
  if (i>5):
    break
  print("Hello")

for i in range(0,14): 
  if (i>5):
    continue
  print("Hello")

In [ ]:
a = 2
while (a<15):
  print(a)
  a +=1
  if (a>5):
    break
  print("Hello")
print("==========")
a = 2
while (a<15):
  print(a)
  a +=1
  if (a>5):
    continue
  print("Hello")

2
Hello
3
Hello
4
Hello
5
==========
2
Hello
3
Hello
4
Hello
5
6
7
8
9
10
11
12
13
14

In [ ]:
import math
#from Lib import SubLib
#check cmp lib!
print(abs(-3.4))
print(math.ceil(3.6))    
print(math.ceil(6.3))
print(math.floor(4.3))
print(math.log(4))
print(math.log10(1000))

3.4
4
7
4
1.3862943611198906
3.0

*Time & Date*

In [ ]:
#1 january 1970 
import time 
time = time.time()
# Test!localtime = time.localtime(time.time())

import calendar  
cal = calendar.calendar(2021)
a = calendar.isleap(2020)
b = calendar.leapdays(1998,2008)
c = calendar.weekday(2021,9,4)
calendar.setfirstweekday(5)
e = calendar.firstweekday()
print(cal)
print(a)
print(b)
print(c)
print(e)

                                  2021

      January                   February                   March
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

True
2
5
5

*Try Except*

In [ ]:
l = [0,4,3]
for i in range (0,5):
  try:
    print(l[i])
  except Exception as ErrorTest:
    print(ErrorTest)
    print(l[i])
print("Hi")

*File*

In [ ]:
"""
Read Only ('r'): Open text file for reading. ...
Read and Write ('r+'): Open the file for reading and writing. ...
Write Only ('w'): Open the file for writing. ...
Write and Read ('w+'): Open the file for reading and writing. ...
Append Only ('a'): Open the file for writing.
"""
f = open("test.txt", "r")
f.read(3)
print(f.readline())
f.close()

In [ ]:
import pickle
f = open("test.pck", "w")
pickle.dump("12.3",f)
f.close()     #Python 2

*Func*

In [1]:
def GoodBoy(name, rate):
  for i in range (0,rate):
    print("Salam" + name)
GoodBoy("Test",4)

a = 4
def GoodBoy(name, rate):
  for i in range (0,rate):
    print("Hi")
  rate +=1
  print(rate)
GoodBoy("Test",a)

def fibo(rate):
  if (rate == 1):
    return 1
  if (rate == 2):
    return 1
  else:
    return fibo(rate-1) + fibo(rate-2)
print(fibo(6))

#1 1 2 3 5 8

SalamTest
SalamTest
SalamTest
SalamTest
Hi
Hi
Hi
Hi
5
8

*Request*

In [ ]:
import requests
import re
dict ={
    "folad" : "46348559193224090", 
    "zoob" : "9211775239375291"
}

url = "http://www.tsetmc.com/tsev2/chart/data/IntraDayPrice.aspx?i=" + dict[input()]
req = requests.get(url)
req = req.text.split(";")
for item in req :
    item = item.split(",")
    print("Time:", item[0]," High:", item[1], " Low:", item[2]," Open:", item[3], " Close:", item[4])

In [ ]:
import requests
from persiantools.jdatetime import JalaliDate
import datetime

dict ={
    "folad" : "46348559193224090", 
    "zoob" : "9211775239375291"
}

url = "http://members.tsetmc.com/tsev2/data/InstTradeHistory.aspx?i=" + dict[input()] + "&Top=999999&A=0" 
req = requests.get(url)
req = req.text.split(";")
for item in req:
    item = item.split("@")
    if(item[0][:4] != "2021"):
        break
    #item[0] = str(JalaliDate.to_jalali(int(item[0][:4]),int(item[0][4:6]),int(item[0][5:])))  //TODO:Edit using Jalali lib
    print(item)