Q2-1

In [ ]:
list1 = []
list1.append('97101518')
list1.append('M.Amin H.Khodaverdian')
print(list1)

In [ ]:
list2 = []
list2.append('97101701')
list2.append('Hamed Rastaghi')

list3 = []
list3.append('97101489')
list3.append('Amir Javadi')

list4 = []
list4.append('97101207')
list4.append('M.Ali Ahmadi')

list_sum = [list1,list2,list3,list4]

print(list_sum[1][1])

print(list_sum[3][0])

As we can see the first indice in list_sum[i][j] refers to the selection of the inner list and j refers to the selection of the jth component of that inner list.

Q2-2

In [ ]:
list1 = ()
list1.append('97101518')
list1.append('M.Amin H.Khodaverdian')
print(list1)

'tuple' object has no attribute 'append'

In [6]:
tuple1 = ((1,4),(2,5),(3,6))
print(tuple1[0][1])

4

In tuple we have same indexing as we had in lists

Q2-3

In [7]:
nation = ['Roman','Egypt','Greek','Chinese','Islamic','Mayan','Persian','Mongol']
golden_age = ['27BC-1453AD','3150BC-30BC','800BC-600AD','221BC-1912AD','750AD-1257AD','2000BC-1540AD','550BC-651AD','1206AD-1368AD']
ziped = zip(nation , golden_age)
Dict1 = dict(ziped)
print(Dict1)

{'Roman': '27BC-1453AD', 'Egypt': '3150BC-30BC', 'Greek': '800BC-600AD', 'Chinese': '221BC-1912AD', 'Islamic': '750AD-1257AD', 'Mayan': '2000BC-1540AD', 'Persian': '550BC-651AD', 'Mongol': '1206AD-1368AD'}

Getting Values by Key:

In [8]:
print(Dict1['Greek'])

800BC-600AD

Getting Keys by Value:

In [11]:
print(list(Dict1.keys())[list(Dict1.values()).index('27BC-1453AD')])

Roman

Q2-4

In [12]:
a = [2**i for i in range (17)]
b = [x*x for x in range (1,5)]
c = [a[x] for x in b if x % 2 == 0]
print(a)
print(b)
print(c)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536]
[1, 4, 9, 16]
[16, 65536]

a will give us a list of 2 to the power of integer numbers between 0 and 16(16 included)

b will give us a list of squares of integer numbers between 0 and 4(4 included)

c will give us a list of numbers that are in list a and their index is in b with the constraint of being divisible to 2

Q2-5

In [13]:
name_list = [ ['M.Amin' , 'H.Khodaverdian'] , [ 'Hamed' , 'Rastaghi'] , ['Amir' , 'Javadi'] , ['M.Ali', 'Ahmadi']]
func = lambda x: x[0]+' '+x[1]
fullname_list = [func(i) for i in name_list ]
print(fullname_list)

['M.Amin H.Khodaverdian', 'Hamed Rastaghi', 'Amir Javadi', 'M.Ali Ahmadi']